.DS_Store
.DS_Store?
*.swp
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

*.py[cod]
.vscode/
image
config.json
.idea
.idea/OneAnime.iml
.idea/deployment.xml
.idea/dictionaries/
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
